  <div class="calculator card">
    <button mat-button (click)="openHistoryDialog()" [disabled]="history.length === 0">
      <mat-icon>history</mat-icon>
    </button>
    
    <div class="calculator-screen z-depth-1" style="font-size: 1rem">{{subText}} {{subText.length > 0 ? '=' : ''}}</div>
    <div class="calculator-screen z-depth-1" [ngClass]="{'fs-3': mainText.length > 21, 
                                                        'fs-2': mainText.length > 28,
                                                        'fs-1': mainText.length > 44}">{{mainText}}</div>

    <div class="calculator-keys">
    
      <button mat-raised-button type="button" class="operator btn btn-info" color="primary" (click)="pressKey('+')" value="+">+</button>
      <button mat-raised-button type="button" class="operator btn btn-info" color="primary" (click)="pressKey('-')" value="-">-</button>
      <button mat-raised-button type="button" class="operator btn btn-info" color="primary" (click)="pressKey('*')" value="*">&times;</button>
      <button mat-raised-button type="button" class="operator btn btn-info" color="primary" (click)="pressKey('/')" value="/">&divide;</button>


      <button mat-raised-button type="button" [value]="n" class="btn btn-light waves-effect" (click)="pressKey(n)" *ngFor="let n of numbers">{{n}}</button>

      <button mat-raised-button type="button" class="decimal function btn btn-secondary"(click)="pressKey('.')" value=".">.</button>
      <button mat-raised-button type="button" class="all-clear function btn btn-danger btn-sm" color="warn" (click)="allClear()" value="all-clear">AC</button>

      <button mat-raised-button type="button" class="equal-sign operator btn btn-default" color="accent" value="=" (click)="getResult()">=</button>
  
    </div>
    
  </div>